body {
	background: white url("images/background.gif");
	height: 100%;

	color: white;
	width: auto;
	margin: 0;
	padding: 25px;
	border: 80px solid #E0E0E0;
	border-top: none;
	border-bottom: none;  
}


ul#bar  {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666699;
	text-align: left;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

a {
	color: white;
}

a:hover {
	color: blue;
}